.about {

    padding: 3% 20% 3%;

    width: 100%;
    background-color: #2eb398;

    @media(min-width:$breakpoint_xl) {
        padding: 3% 28% 3%;
    }
     @media(max-width:$breakpoint_l) {
         padding: 3% 10% 3%;
    }
    @media(max-width:$breakpoint_m) {
         padding: 3% 4% 3%;
    }
       @media(max-width:$breakpoint_sm) {
         padding: 3% 3%;
    }
}
.about__inner {
    display: flex;

    @media(max-width:$breakpoint_sm) {
     flex-wrap: wrap;
    justify-content: center;
    }



}

.about__item {
    width: 70%;
    margin-left: 1rem;
    margin-right: 1rem;
    align-self: center;


}



.about__item-name {
    font-size: 2rem;
    font-weight: 400;
    color: #d7fcf5;
    font-family: 'Maven Pro', sans-serif;
}

.about__item-prof {
    margin-bottom: 1rem;

    font-size: 1.1rem;
    font-weight: 400;
    color: #20816d;
    font-family: 'Maven Pro', sans-serif;
}

.about__item-text {
    font-size: 0.8rem;
    font-weight: 400;
    color: #d7fcf5;
    font-family: 'lato', sans-serif;
}


.about__sosial {
    margin-top: 1rem;

    display: flex;
    justify-content: flex-end;
}

.about__sosial-item {
    display: block;
    margin-right: 1px;

    width: 1.6rem;
    height: 1.6rem;

    background-color: #a4dbd4;

    &:hover {
        background-color: #6ccbbe;

    }
    &:hover .social__icon{
        fill: $black;
    }

}
.social__icon {
    vertical-align: middle;
    width: 1.5rem;
    height: 1rem;

    fill: #02ac95;
}

.about__autor {

    width: 30%;

    @media(max-width:$breakpoint_sm) {
        width: 100%;
    }
}


.about__hexagon {
    margin: 2rem auto;
  width: 12rem;
  height: 10rem;
  background: red;
  transform: rotate(-150deg);
  overflow: hidden;
  visibility: hidden;
}
.about__hexagon-inside {
  width: 100%;
  height: 100%;
  background: green;
  transform: rotate(-60deg);
  overflow:hidden;
}
.about__hexagon-img {
    position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: rotate(120deg);

}
.about__hexagon-img::before {
  content: "";
  position: absolute;
  top: -12%;
  width: 100%;
  height: 120%;
    background-image: url("../img/about/prince-harry.jpg") ;
  transform: rotate(90deg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  visibility: visible;
}
