.nav {
    padding-top: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;


    background: #323232;
}

.nav__link {
    margin-left: 1.8rem;

    font-size: 0.6rem;
    font-weight: 700;
    color: $white;
    font-family: 'lato', sans-serif;
    text-transform: uppercase;
    text-align: center;

    text-decoration: none;
    outline: none;



    &:hover {
        color: #2eb398;
    }
    &:first-child{
        margin-left: 0;
    }

    @media(max-width:$breakpoint_sm) {
        margin-left: 1rem;
    }
}

.nav__link--middle {

    &:after {
          content: '';
  position: absolute;
  top: 100%;
  width: 50px;
  height: 50px;
  background-color: #323232;
  left: 50%;
  transform: translate(-50%, -51%) rotate(30deg) skewX(-46deg) skewY(-21deg);
  z-index: -1;
    }
}

.nav__icon{

    position: relative;


    padding-left: 0.25rem;
    width: 3.8rem;
    height: 2.4rem;

    fill: $white;

    &:hover {
        fill: #2eb398;
    }

}

.nav__link--icon{
    margin: 0 0.4rem 0 2.2rem;

     @media(max-width:$breakpoint_sm) {
        margin: 0 0.4rem 0 1.2rem;
    }
}

.nav__arrow {
    &:hover {
        background: red;
    }


}









