<div class="about" id="about">
    <div class="container">
        <div class="about__inner">

            <div class="about__autor">

                <div class="about__hexagon">
                <div class="about__hexagon-inside">
                <div class="about__hexagon-img">

                </div>
                </div>
                </div>

            </div>
            <div class="about__item">
                <div class="about__item-name">
                    Smith Anderson
                </div>
                <div class="about__item-prof">
                    Illustrator & Character Designer
                </div>
                <div class="about__item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor, nibh at sagittis tristique, enim magna pretium augue, eget consectetur sem dui non urna. Integer gravida, diam congue molestie fringilla, elit odio rhoncus turpis, ac dictum libero elit vel metus. Morbi egestas sit amet velit eget venenatis. Mauris porttitor, nibh at sagittis tristique, enim magna pretium augue, eget consectetur sem dui non urna
                </div>
                <div class="about__sosial">
                    <a class="about__sosial-item" href="#" target="_blank">
                    <svg class="social__icon">
                    <use xlink:href="#fb"></use>
                    </svg>
                    </a>
                    <a class="about__sosial-item" href="#" target="_blank">
                    <svg class="social__icon">
                    <use xlink:href="#vk"></use>
                    </svg>
                    </a>
                    <a class="about__sosial-item" href="#" target="_blank">
                    <svg class="social__icon">
                    <use xlink:href="#inst"></use>
                    </svg>
                    </a>
                    <a class="about__sosial-item" href="#" target="_blank">
                    <svg class="social__icon">
                    <use xlink:href="#twitter"></use>
                    </svg>
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>
