<div class="contacts" id="get">
    <div class="container">
        <div class="contacts__inner">
            <div class="contacts__item">
                <div class="contacts__header">Get In Touch</div>
                <div class="contacts__suptitle">In order to get in touch use the contact form below:</div>
                <form action="">
                    <input type="tel" class="contacts__input tel" placeholder="Name (Required)" required>
                    <input type="email" class="contacts__input emails" placeholder="Email (Required)" required>
                    <input type="texarea" class="contacts__input textSubject" placeholder="Subject">
                    <textarea class="contacts__input textMess" placeholder="Write your message here..."  name="text" id="" cols="30" rows="5"></textarea>


                </form>
                <button class="btn"> Send </button>
            </div>

            <div class="contacts__inform">
                <div class="contacts__inform-text">
                <span class="white">Quisque Hendrerit:</span> purus dapibus, ornare nibh vitae, viverra nibh. Fusce vitae aliquam tellus. Proin sit amet volutpat libero. Nulla sed nunc et tortor luctus faucibus morbi vitae. </div>
                <div class="contacts__inform-main" >
                    <a class="contacts__adress" href="https://goo.gl/maps/9X5RFfLJSyHdmNnQ6" target="_blank">
                    <div class="contacts__our">
                    <svg class="contacts__icon">
                            <use xlink:href="#point"></use>
                        </svg>
                      Elm St. 14/05 Lost City </div>
                    </a>

                    <a class="contacts__tel" href="tel: +79191528883">
                    <div class="contacts__our">
                     <svg class="contacts__icon">
                            <use xlink:href="#phone"></use>
                        </svg>+ 3528 331 86 35</div>
                    </a>

                    <a class="contacts__email" href="mailto: dmcdante@Bk.ru" target="_blank">



                    <div class="contacts__our">
                        <svg class="contacts__icon">
                            <use xlink:href="#mail"></use>
                        </svg> info@hexalcorp.com</div>   </a>
                </div>

            </div>
        </div>
    </div>
</div>
