<header class="header">
<!--   <div class="container">-->
       <div class="nav">

          <a href="#" class="nav__link" data-scroll="#portfolio" >PORTFOLIO      </a>
          <a href="#" class="nav__link" data-scroll="#about" >ABOUT</a>
          <a href="#" class="nav__link  nav__link--icon" data-scroll="#get" >



                <svg class="nav__icon">
                 <use xlink:href="#arrow__down"></use>

                   <div class="nav__link--middle"></div>
                </svg>

          </a>
<!--          <a href="" class="nav__link  "></a>-->
          <a href="" class="nav__link" data-scroll="#about" >BLOG      </a>
          <a href="" class="nav__link" data-scroll="#get" > GET IN TOUCH</a>


    </div>
<!--    </div>-->
</header>
