<div class="hex__slider" id="slider">

<!--first slide-->
<div id="portfolio">
<div class="container">
<ul class="hexGrid">

      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/10.png" alt="" />
            <h1>This is a title</h1>
            <p>How much text can be added until there is a problem with the display of the text.  Too much will probably be truncated, or exceedthe boundries of the hexagon. So more is added to see what kind of behavior will happen. This is the song that never ends, it goes on and on my friend.</p>
          </a>
        </div>
      </li>




      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/1.jpg" alt="" />


            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>

      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/11.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>

      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
          <img src="../../assets/img/intro/9.jpg" alt="" />


          </a>
        </div>
      </li>

      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/12.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>

      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/13.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>

      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/2.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>



        <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/3.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/4.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
          <img src="../../assets/img/intro/5.jpg" alt="" />


          </a>
        </div>
      </li>
      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/6.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/7.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/8.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>

    </ul>

</div>

</div>
<!--/first slide-->

<!--second slide-->
<div>
<div class="container">
<ul class="hexGrid">

      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/10.png" alt="" />
            <h1>This is a title</h1>
            <p>How much text can be added until there is a problem with the display of the text.  Too much will probably be truncated, or exceedthe boundries of the hexagon. So more is added to see what kind of behavior will happen. This is the song that never ends, it goes on and on my friend.</p>
          </a>
        </div>
      </li>




      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/1.jpg" alt="" />


            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>

      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/11.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>

      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
          <img src="../../assets/img/intro/9.jpg" alt="" />


          </a>
        </div>
      </li>

      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/12.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>

      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/13.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>

      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/2.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>



        <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/3.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/4.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
          <img src="../../assets/img/intro/5.jpg" alt="" />


          </a>
        </div>
      </li>
      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/6.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/7.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/8.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>

    </ul>

</div>

</div>
<!--/second slide-->


<!--third slide-->
<div>
<div class="container">
<ul class="hexGrid">

      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/10.png" alt="" />
            <h1>This is a title</h1>
            <p>How much text can be added until there is a problem with the display of the text.  Too much will probably be truncated, or exceedthe boundries of the hexagon. So more is added to see what kind of behavior will happen. This is the song that never ends, it goes on and on my friend.</p>
          </a>
        </div>
      </li>




      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/1.jpg" alt="" />


            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>

      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/11.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>

      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
          <img src="../../assets/img/intro/9.jpg" alt="" />


          </a>
        </div>
      </li>

      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/12.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>

      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/13.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>

      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/2.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>



        <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/3.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/4.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
          <img src="../../assets/img/intro/5.jpg" alt="" />


          </a>
        </div>
      </li>
      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/6.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/7.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex draggable">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../../assets/img/intro/8.jpg" alt="" />

            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>


    </ul>

</div>

</div>
<!--/third slide-->

</div><!--/slider-->
